{% extends "admin/base_site.html" %}
{% load admin_urls %}
{% load static %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/rubitrack.css' %}">
 
{% block title %}On Air - Rubitrack{% endblock title %}
  
  {% block content %}

  {% if currentTrack %}



<div class='now_playing_track' id='currentlyPlayingTrackBlock'>


  <input type="hidden" id="currentTrackId" name="currentTrackId" value="{{ currentTrack.pk }}" />

  <div class="row">
    <div class="on_air">
      ON AIR: 
     </div>
    <div class="track_medium_blue" >
       {{ currentTrack.title }}  
    </div>

     <div class="artist_green_flashy"> - {{ currentTrack.artist.name }}</div>

     <div class="grey_subtitle_small">
      Genre: {{ currentTrack.genre.name }}  - {{ currentTrack.bpm|floatformat}} bpm - 
      <a href="{% url 'admin:track_track_change' currentTrack.id %}"><i class="fa fa-edit"></i> Edit track info  </a>
      {% if currentTrack.get_track_cue_points_text %}
        <br><span class="cue-points-compact">Cue Points: {{ currentTrack.get_track_cue_points_text }}</span>
      {% endif %}
      </div>
  </div>
</div>


  <div class="blue_subtitle_small">Transitions - What to play along this track?</div>
  <a href="{% url 'admin:track_customtracktransition_change' currentTrack.id %}" target="_blank">
                <b><i class="fa fa-edit"></i> Edit Transitions Info</b>
          </a>  


  <div id="transitionsAllTableDiv">
    {% include 'track/currently_playing/get_more_transition_block_history.html' %}
    </div>


  <div class="blue_subtitle_small">Tracklist History </div>
  <div id="tablePlaylistHistory">
    <table id="_appendHere" class="table table-striped table-condensed">
      <tr>
        <th>Track Title</th>
        <th>Artist</th>
        <th>Save</th>
        
      </tr>
      {% for currentPlay in playlistHistory %}
        
        {% if currentPlay.track.title == currentTrack.title%}
            <tr class='current_track_editing_highlight'>
          {% else %}
            <tr>
         {% endif %}                   


         <td><a href="{% url 'admin:track_track_change' currentPlay.track.id %}">{{ currentPlay.track.title }}</a>
          <a href="{% url 'history_editing_view' currentPlay.track.id%}"><i class="fa fa-backward  good_transition""></i></a></td></td>
         <td>{{ currentPlay.track.artist.name }}</td>
         <td>
                <div id="{{ currentPlay.track.id }}">

                  {% if currentPlay.related_to_current_track %}
                    {{currentPlay.related_to_current_track_text}}
                  {% else %}

                    <a href="#" trackSourceId="{{ currentPlay.track.id }}" trackDestinationId="{{ currentTrack.id }}"
                    id="add-row" class="btn btn-default saveTransitionAjax"
                    onclick="return false;"
                    rel="no-refresh"><i class="glyphicon glyphicon-plus icon-success"></i> Save Transition </a>

                  {% endif %}
                </div>              
                  
            </td>

         
      </tr>
      {% endfor %}
    </table>
  </div>

        <div class="blue_subtitle_small">Suggestions from our algorithm</div>
        <div id="tableSuggestionAuto">
          {% load musical_key_filters %}
          <table id="suggestionsAuto" class="table table-striped table-condensed">

          <tr>
           <th>Title</th>
           <th>Artist</th>
           <th>Genre</th>
           <th>Bpm</th>
           <th>Key</th>
            <th>Comment</th>
           <th>Suggestion Rating?</th>
           
          </tr>

          
         {% for currentTrackSuggestion in listTrackSuggestions %}
           <tr>                    
           <td>{{ currentTrackSuggestion.title }}</td>
           <td>{{ currentTrackSuggestion.artist.name }}</td>
           <td>{{ currentTrackSuggestion.genre }}</td>
           <td>{{ currentTrackSuggestion.bpm |floatformat}}</td>
           <td>{% if currentTrackSuggestion.musical_key %}{% musical_key_badge currentTrackSuggestion.musical_key %}{% else %}--{% endif %}</td>
           <td>{{ currentTrackSuggestion.comment }}</td>
           <td><i class="fa fa-thumbs-o-up  good_transition""></i> &nbsp;
            <i class="fa fa-thumbs-o-down bad_transition"></i>
           </td>
           
          </tr>
          {% endfor %}
        </table>
      </div>



<script>
    // Configuration - Temps de refresh en millisecondes (depuis constants.py)
    const REFRESH_INTERVAL_MS = parseInt('{{ refreshInterval|default:10000 }}', 10) || 10000;
    
    var append_increment = 0;
    setInterval(function() {
        // Sauvegarder les valeurs des champs de commentaire avant le refresh
        var commentValues = {};
        $('.commentTransitionInput').each(function() {
            var transitionId = $(this).attr('transitionId');
            var currentValue = $(this).val();
            if (transitionId && currentValue !== $(this).attr('data-original-value')) {
                commentValues[transitionId] = currentValue;
            }
        });

        // Un seul appel AJAX pour récupérer toutes les données et rafraîchir tous les blocs simultanément
        $.ajax({
          url: '../get_all_currently_playing_data/',
          success: function(data) {
            // Parcourir chaque section et mettre à jour le contenu correspondant
            var $response = $(data);
            
            $response.filter('.section-update').each(function() {
              var target = $(this).data('target');
              var content = $(this).html();
              
              // Vérification spéciale pour les transitions
              if (target === 'transitionsAllTableDiv' && content.trim() === '<div></div>') {
                return; // Ne pas mettre à jour si pas de contenu
              }
              
              $('#' + target).html(content);

              // Restaurer les valeurs des champs de commentaire après le refresh
              if (target === 'transitionsAllTableDiv') {
                setTimeout(function() {
                  $('.commentTransitionInput').each(function() {
                    var transitionId = $(this).attr('transitionId');
                    var $input = $(this);
                    
                    // Stocker la valeur originale pour comparaison future
                    $input.attr('data-original-value', $input.val());
                    
                    // Restaurer la valeur modifiée si elle existe
                    if (commentValues[transitionId]) {
                      $input.val(commentValues[transitionId]);
                    }
                  });
                }, 100);
              }
            });
          },
          error: function() {
            console.log('Erreur lors du rafraîchissement des données');
          }
        });

    }, REFRESH_INTERVAL_MS);

    //ajax call to save transition with no refresh
    $(document).on("click", ".saveTransitionAjax", function(){
      $.ajax({
          url: '../add_new_transition?trackSourceId='+$(this).attr('trackSourceId')+'&trackDestinationId='+$(this).attr('trackDestinationId')+'&history=false',
          success: function(data) {
            $('#transitionsAllTableDiv').html(data); 
            $('#'+$(this).attr('trackSourceId')).html('Transition savedac!');
            //$('#2423').html('saved!'); 
            // alert('#'+$(this).attr('trackSourceId'));                     
          }
        });
      
    })

    //ajax call to DELETE transition with no refresh
    $(document).on("click", ".deleteTransition", function(){
      $.ajax({
          url: '../delete_transition?transitionDeleteId='+$(this).attr('transitionId')+'&history=false',
          success: function(data) {
            if(data) {
              $('#transitionsAllTableDiv').html(data);
            }
                                 
          }

        });
      
    })

    //ajax call to UPDATE comment on transition
    $(document).on("change", ".commentTransitionInput", function(){
      $.ajax({
          url: '../update_transition_comment?transitionUpdateId='+$(this).attr('transitionId')+'&newComment='+this.value+'&history=false',
          success: function(data) {
                                             
          }

        });
      
    })
 

</script>


{% else %}

<div class='now_playing_track' id='currentlyPlayingTrackBlock'>
  <div class="row">
    <div class="track_big_blue" > Please start playing a track </div>
    <div class="green_flashy">- Broadcasto your Mix to http://193.70.86.101/</div> 
    <div class="track_big_blue" >- Port 8059</div>
  </div>
</div>

<style>
    #transitionsAllTable {
        font-size: 14px;
    }
    .table-reduced-height tr {
        height: 28px;
    }
    .table-reduced-height th, .table-reduced-height td {
        padding: 2px 8px !important;
        vertical-align: middle;
    }
    .table-reduced-height input[type="text"] {
        height: 26px;
        font-size: 13px;
        margin: 0;
        padding: 3px 6px;
    }
    .table-reduced-height .btn {
        padding: 2px 6px !important;
        font-size: 13px;
    }
    .table-reduced-height ul.list-inline {
        margin-bottom: 0;
    }
    .table-reduced-height .list-inline-item {
        margin-right: 2px;
    }

    /* Couleurs pour les flèches de transition */
    .fa-forward {
        color: #28a745 !important; /* Vert pour >> (transitions après) */
    }
    
    .fa-fast-backward {
        color: #dc3545 !important; /* Rouge pour << (transitions avant) */
    }

    /* Mobile responsive styles for transitions table */
    @media screen and (max-width: 768px) {
        #transitionsAllTableDiv {
            overflow-x: auto;
            -webkit-overflow-scrolling: touch;
        }
        
        .table-reduced-height {
            font-size: 12px;
            min-width: 100%;
            table-layout: fixed;
        }
        
        .table-reduced-height th,
        .table-reduced-height td {
            padding: 2px 4px !important;
            font-size: 12px;
        }
        
        /* Adjust column widths for mobile */
        .table-reduced-height th:nth-child(1), /* Track */
        .table-reduced-height td:nth-child(1) {
            width: 30% !important;
            max-width: 120px;
        }
        
        .table-reduced-height th:nth-child(2), /* > */
        .table-reduced-height td:nth-child(2) {
            width: 5% !important;
            text-align: center;
        }
        
        .table-reduced-height th:nth-child(3), /* Comment */
        .table-reduced-height td:nth-child(3) {
            width: 45% !important;
        }
        
        .table-reduced-height th:nth-child(4), /* Actions */
        .table-reduced-height td:nth-child(4) {
            width: 20% !important;
        }
        
        /* Truncate text that's too long */
        .table-reduced-height td:nth-child(1) a {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            display: block;
        }
        
        /* Smaller input fields on mobile */
        .table-reduced-height input[type="text"] {
            width: 100%;
            max-width: none;
            height: 24px;
            font-size: 11px;
            padding: 2px 4px;
            box-sizing: border-box;
        }
        
        /* Smaller buttons on mobile */
        .table-reduced-height .btn {
            padding: 1px 4px !important;
            font-size: 11px;
        }
    }

    /* Very small screens */
    @media screen and (max-width: 480px) {
        .table-reduced-height th:nth-child(1), /* Track */
        .table-reduced-height td:nth-child(1) {
            width: 25% !important;
        }
        
        .table-reduced-height th:nth-child(3), /* Comment takes more space */
        .table-reduced-height td:nth-child(3) {
            width: 50% !important;
        }
        
        .table-reduced-height th:nth-child(4), /* Actions */
        .table-reduced-height td:nth-child(4) {
            width: 20% !important;
        }
    }

    /* Styles pour les cue points */
    .cue-points-compact-text {
        color: #666;
        font-size: 12px;
        margin-top: 10px;
        font-style: italic;
    }

    .cue-points-compact {
        color: #666;
        font-size: 11px;
        font-style: italic;
    }

    /* Responsive pour les cue points */
    @media screen and (max-width: 768px) {
        .cue-point-header,
        .cue-point-time {
            padding: 4px 6px;
            font-size: 11px;
            min-width: 35px;
        }
        
        .cue-points-compact-text {
            font-size: 10px;
        }
    }
</style>

<script>
  //setInterval(function() {
  //     location.reload();
  //  }, 10000);


  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
    
    // Initialiser les valeurs originales des champs de commentaire au chargement
    $('.commentTransitionInput').each(function() {
        $(this).attr('data-original-value', $(this).val());
    });
});

</script>

<script>
// Fallback coloring if external CSS not loaded
(function(){
  var test = window.getComputedStyle(document.createElement('i')).color;
  // Force color if not applied (heuristic)
  document.addEventListener('DOMContentLoaded', function(){
    document.querySelectorAll('#transitionsAllTable i.fa-forward').forEach(el=>{el.style.color='#28a745';});
    document.querySelectorAll('#transitionsAllTable i.fa-fast-backward').forEach(el=>{el.style.color='#dc3545';});
  });
})();
</script>

{% endif %}



 {% endblock content %}


