<table id="transitionsAllTable" class="table table-striped table-condensed table-reduced-height">
    <tr style="height:28px;">
        <th style="padding:4px 8px; width:30%;">Title</th>
        <th style="padding:4px 8px; width:25%;">Artist</th>
        <th style="padding:4px 8px; width:5%;">></th>
        <th style="padding:4px 8px; width:25%;">Comment</th>
        <th style="padding:4px 8px; width:10%;">Actions</th>
        <th style="padding:4px 8px; width:5%;">BPM</th>
    </tr>

    {% for currentTransition in transitionsAfter %}
    <tr style="height:28px;">
        <td style="padding:2px 8px;"><a href="{% url 'admin:track_track_change' currentTransition.track_destination.id %}">{{ currentTransition.track_destination.title|slice:":20" }}</a></td>
        <td style="padding:2px 8px;">{{ currentTransition.track_destination.artist.name|slice:":20" }}</td>
        <td style="padding:2px 8px;"><i class="fa fa-forward"></i></td>
        <td style="padding:2px 8px;">
            <input type="text" class="commentTransitionInput" size="40" value="{{ currentTransition.comment }}" transitionId="{{currentTransition.id}}" style="height:26px; font-size:13px; margin:0;"/><br>
        </td>
        <td style="padding:2px 8px;">
            <ul class="list-inline m-0" style="margin-bottom:0;">
                <li class="list-inline-item" style="margin-right:2px;">
                    <a href="{% url 'history_editing_view' currentTransition.track_destination.id %}" target="_blank">
                        <button class="btn btn-success btn-sm rounded-0" type="button" title="Edit history of {{ currentTransition.track_destination.title }}" style="padding:2px 6px;"><i class="fa fa-backward"></i></button>
                    </a>
                </li>
                <li class="list-inline-item" style="margin-right:2px;">
                    <a class="remove-btn btn-small" href="#" onclick="return false;">
                        <button class="btn btn-danger btn-sm rounded-0 deleteTransition" type="button" title="Delete" transitionId="{{currentTransition.id}}" style="padding:2px 6px;"><i class="fa fa-trash"></i></button>
                    </a>
                </li>
            </ul>
        </td>
        <td style="padding:2px 8px;">{{ currentTransition.track_destination.bpm|floatformat }}</td>
    </tr>
    {% endfor %}

    {% for currentTransition in transitionsBefore %}
    <tr style="height:28px;">
        <td style="padding:2px 8px;"><a href="{% url 'admin:track_track_change' currentTransition.track_source.id %}">{{ currentTransition.track_source.title }}</a></td>
        <td style="padding:2px 8px;">{{ currentTransition.track_source.artist.name|slice:":20" }}</td>
        <td style="padding:2px 8px;"><i class="fa fa-fast-backward"></i></td>
        <td style="padding:2px 8px;">
            <input type="text" class="commentTransitionInput" size="40" value="{{ currentTransition.comment }}" transitionId="{{currentTransition.id}}" style="height:26px; font-size:13px; margin:0;"/><br>
        </td>
        <td style="padding:2px 8px;">
            <ul class="list-inline m-0" style="margin-bottom:0;">
                <li class="list-inline-item" style="margin-right:2px;">
                    <a href="{% url 'history_editing_view' currentTransition.track_source.id %}" target="_blank">
                        <button class="btn btn-success btn-sm rounded-0" type="button" title="Edit history of {{ currentTransition.track_source.title }}" style="padding:2px 6px;"><i class="fa fa-backward"></i></button>
                    </a>
                </li>
                <li class="list-inline-item" style="margin-right:2px;">
                    <a class="remove-btn btn-small" href="#" onclick="return false;">
                        <button class="btn btn-danger btn-sm rounded-0 deleteTransition" type="button" title="Delete" transitionId="{{currentTransition.id}}" style="padding:2px 6px;"><i class="fa fa-trash"></i></button>
                    </a>
                </li>
            </ul>
        </td>
        <td style="padding:2px 8px;">{{ currentTransition.track_source.bpm|floatformat }}</td>
    </tr>
    {% endfor %}

</table>
