<table id="_appendHere" class="table table-striped table-condensed">
      <tr>
        <th>Track Title</th>
        <th>Artist</th>
        <th style="text-align: center">Save</th>
        
      </tr>
      {% for currentPlay in playlistHistory %}
        
        {% if currentPlay.track.title == currentTrack.title%}
            <tr class='current_track_editing_highlight'>
          {% else %}
            <tr>
         {% endif %}                   


         <td><a href="{% url 'admin:track_track_change' currentPlay.track.id %}">{{ currentPlay.track.title }}</a>
          <a href="{% url 'history_editing_view' currentPlay.track.id%}"><i class="fa fa-backward  good_transition""></i></a></td></td>
         <td>{{ currentPlay.track.artist.name }}</td>
         <td>
                <div id="{{ currentPlay.track.id }}">

                  {% if currentPlay.related_to_current_track %}
                    {{currentPlay.related_to_current_track_text}}
                  {% else %}

                    <a href="#" trackSourceId="{{ currentPlay.track.id }}" trackDestinationId="{{ currentTrack.id }}"
                    id="add-row" class="btn btn-default saveTransitionAjax"
                    onclick="return false;"
                    rel="no-refresh"><i class="glyphicon glyphicon-plus icon-success"></i> Save Transition </a>

                  {% endif %}
                </div>              
                  
            </td>

         
      </tr>
      {% endfor %}
    </table>