{% extends "admin/base_site.html" %}
{% load admin_urls %}
<!-- <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> -->
 
{% block title %}Playlist transitions - {{ currentPlaylist.name }}{% endblock title %}
  
  {% block content %}
  <style>
            .highlightedTransition{
            font-weight: bold;
            background-color: #52d3aa;
        }

  </style>


<div class='now_playing_track' id='currentlyPlayingTrackBlock'>


  <input type="hidden" id="playlistId" name="playlistId" value="{{ currentPlaylist.pk }}" />

  <div class="row">

    <div class="on_air">
      Playlist: 
     </div>

    <div class="track_medium_blue" >
       {{ currentPlaylist.name }}  
    </div>

  </div>
</div>

    <!-- Moved compact, non-editable Transitions Table to be first -->
    <div class="blue_subtitle_small">Transitions Table</div>
    <div class="blue_subtitle_xsmall">First Track : {{ firstTrack.title |slice:":20" }} - {{ firstTrack.artist.name }}</div>

  <div id="transitionsTableDiv">
    <table id="transitionsTable" class="table table-striped table-condensed table-transition">
      <tr>                    
        <th>Title</th>
        <th>Artist</th>
        <th>Comment</th>
       </tr>

       {% for currentTransition in playlistTransitions %}
       <tr class="transitionRow inactiveTransition">                    
        <td>
          <a href="{% url 'history_editing_view' currentTransition.track_destination.id%}">
            {{ currentTransition.track_destination.title|slice:":20" }}
          </a></td>
        <td>{{ currentTransition.track_destination.artist.name }}</td>
       <td>{{ currentTransition.comment }} |{{ currentTransition.track_destination.get_last_four_cue_points_text_no_ms }}</td>

     </tr>
       {% endfor %}

          </table>
    </div>


  <!-- Editable transitions table now second -->
  <div class="blue_subtitle_small">Transitions</div><br>
  <div class="blue_subtitle_xsmall">First Track : {{ firstTrack.title }} - {{ firstTrack.artist.name }} - {{ firstTrack.genre.name }} - {{ firstTrack.bpm|floatformat}}</div>

  <div id="transitionsAllTableDiv">
    <table id="transitionsAllTable" class="table table-striped table-condensed">
      <tr>                    
        <th>Title / Artist</th>
        <th>Comment</th>
        <th>Genre/BPM</th>
       </tr>

       {% for currentTransition in playlistTransitions %}
       <tr>                    
         <td>
           <a href="{% url 'history_editing_view' currentTransition.track_destination.id %}">
             {{ currentTransition.track_destination.title|slice:":20" }} - <span class="artist_green_flashy">{{ currentTransition.track_destination.artist.name }}</span>
           </a>
         </td>
       <td>
         <input type="text" class="commentTransitionInput" size="50"
         value="{{ currentTransition.comment }}" transitionId="{{currentTransition.id}}"><br><br>
       </td>
        
    <td>{{ currentTransition.track_destination.genre.name }}
     {{ currentTransition.track_destination.bpm|floatformat}}
     </td> 
     </tr>
       {% endfor %}

          </table>
    </div>



    <div class="blue_subtitle_small">Track List</div>

  <div id="tracksDiv">
    <table id="tracksTable" class="table table-striped table-condensed">
      <tr>                    
        <th>Title</th>
        <th>Artist</th>
        <th>Genre/BPM</th>
        <th>Comment</th>
        <th>All Cue Points</th>
       </tr>

       {% for currentTrack in playlistTracks %}
       <tr>                    
          <td><a href="#"></a>
             {{ currentTrack.title|slice:":20" }}
         </a></td>
        <td>{{ currentTrack.artist.name }}</td>
        <td>{{ currentTrack.genre.name }}
          {{ currentTrack.bpm|floatformat}}
          </td> 
       <td>{{ currentTrack.comment }}</td>
       <td>{{ currentTrack.get_all_cue_points_text_no_ms }}</td>

     </tr>
       {% endfor %}

          </table>
    </div>

    
<button onclick="deletePlaylistTransitions('{{currentPlaylist.pk}}')">Delete Playlist Transitions</button>
<button onclick="deleteAllGeneratedTransitions()">Delete All Playlists Transitions</button>

 <script>
  //ajax call to UPDATE comment on transition
  $(document).on("change", ".commentTransitionInput", function(){
    $.ajax({
        url: '../update_transition_comment?transitionUpdateId='+$(this).attr('transitionId')+'&playlist=true&newComment='+this.value,
          success: function(data) {                                  
        }
      });
  })

  //HIGHLIGHT clicked row
  $(document).on("click", ".transitionRow", function(){
    $(".transitionRow").removeClass("highlightedTransition");
    $(this).toggleClass('highlightedTransition');
  })

</script>

<script>
  function deletePlaylistTransitions(playlistId) {
    $.ajax({
      url: '../delete_playlist_transitions?playlistId='+playlistId,
          success: function(data) {                                  
        }
    });
  }

  function deleteAllGeneratedTransitions() {
    $.ajax({
      url: '../delete_all_generated_transitions',
          success: function(data) {                                  
        }
    });
  }
</script>

{% endblock content %}
