{% extends "admin/base.html" %}


{% load static %}

{% block title %}{{ title }} | Rubitrack admin{% endblock %}

{% block branding %}
<h1 id="site-name"><a href="{% url 'admin:index' %}"><div class="green_flashy">Rubi</div>TRACK - Take the control over your <div class="green_flashy">music</div> library!</a></h1>
<a href="/track/currently_playing"><div class="green_flashy">Now Playing</div></a> - <a href="/track/import_collection">Import Collection</a> - <a href="/admin/track/playlist/"><div class="green_flashy">Playlists</div></a> - <a href="/track/display_duplicates">Duplicates</a> - <a href="/track/manual_transition"><div class="green_flashy">Add Transition</div></a>

<link rel="shortcut icon" href="{% static 'favicon.png' %}'/"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>


{% endblock %}

{% block nav-global %}{% endblock %}

{% block extrahead %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    
    <style>
        a, a:link, a:visited {
            color:#283C4F;
        }

        div.inline { 
            float:left; 
        }

        .clearBoth { 
            clear:both; 
        }

        div.breadcrumbs {
        	background-color:gray;
        }   

        #header {
        	background-color:#283C4F;
            align-items:stretch;
        }

        #branding h1 a:visited {
        	color:white;
        }

		.module caption {
        	background-color:#283C4F;
        }

        div.now_playing_track {
            font-size: 42px;
            color:green;
            background-color:#283C4F;
            display: inline;
        }

        div.red_alert {
            font-size: 40px;
            color:red;
            display: inline;
        }

        div.green_flashy {
            color:#52d3aa;
            display: inline;
        }

        div.track_big_blue {
            font-size: 42px;
            color:#283C4F;
            display: inline;
        }

        div.artist_green_flashy {
            font-size: 30px;
            color:#52d3aa;
            display: inline;
        }

        
        div.on_air {
            font-size: 24px;
            color:#52d3aa;
            display: inline;
        }

        div.history_title {
            font-size: 24px;
            color:#283C4F;
            display: inline;
        }

        div.track_medium_blue {
            font-size: 30px;
            color:#283C4F;
            display: inline;
        }

        div.grey_subtitle {
            font-size: 18px;
            font-weight: bold;
            color:gray;
            vertical-align: bottom;
        }

        div.grey_subtitle_small {
            font-size: 12px;
            font-weight: bold;
            color:gray;
            vertical-align: bottom;
        }

         div.blue_subtitle_small {
            font-size: 20px;
            font-weight: bold;
            color:#283C4F;
            display: inline;
        }

        div.blue_subtitle_small {
            font-size: 14px;
            font-weight: bold;
            color:#283C4F;
            display: inline;
        }

        .good_transition {
            color:green;
        }

        .bad_transition {
            text-align: center;
            color:red;
        }

        td.button_add {
            text-align: center;
            color:red;
            border-width: 1;
            border-color: blue;
        }

        .module h2 {
            background-color: gray;
        }

        .button, input[type=submit], input[type=button], .submit-row input, a.button {
            background:#283C4F;
        }

        .icon-success {
            color: #5CB85C;
        }

        /*custom current track EDITING*/
        tr.current_track_editing_highlight{
            font-size: 20px;
            font-weight: bold;
            color:#283C4F;
        }
        /*custom current track PLAYING*/
        tr.current_track_playing_highlight a:not(.saveTransitionAjax){
            font-size: 20px;
            font-weight: bold;
            color:#52d3aa;
            #background-color: #283C4F;
        }
        td.current_track_playing_highlight{
            font-size: 20px;
            font-weight: bold;
            color:#52d3aa;
            #background-color: #283C4F;
        }

        .highlightedTransition{
            font-weight: bold;
            background-color: #52d3aa;
        }

        .table-striped>tbody>tr:nth-of-type(odd).highlightedTransition{
            font-weight: bold;                                                                              
            background-color: #52d3aa;                             
}     


    </style>
{% endblock %}
