{% extends "admin/base_site.html" %}
{% load admin_urls %}
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
 
{% block title %}Now Playing - Tonial{% endblock title %}
  
  {% block content %}

  {% if currentTrack %}



<div class='now_playing_track' id='currentlyPlayingTrackBlock'>


  <input type="hidden" id="currentTrackId" name="currentTrackId" value="{{ currentTrack.pk }}" />

  <div class="row">
    <div class="grey_subtitle">Now Playing: </div>
  </div>
  <div class="row">
    <div class="track_big_blue" >
       {{ currentTrack.title }}  
    </div>

     <div class="green_flashy"> - {{ currentTrack.artist.name }}</div>

     <div class="grey_subtitle">
      Genre: {{ currentTrack.genre.name }}  - {{ currentTrack.bpm|floatformat}} bpm - 
      <a href="{% url 'admin:track_track_change' currentTrack.id %}"><i class="fa fa-edit"></i> Edit track info  </a>
      </div>
  </div>
</div>


  <div class="blue_subtitle_small">Tracklist History </div>
  <div id="tablePlaylistHistory">
    <table id="_appendHere" class="table table-striped table-condensed">
      <tr>
        <th>Track Title</th>
        <th>Artist</th>
        <th style="text-align: center">Save</th>
        
      </tr>
      {% for currentPlay in playlistHistory %}
        <tr>                    


         <td><a href="{% url 'admin:track_track_change' currentPlay.track.id %}">{{ currentPlay.track.title }}</a></td>
         <td>{{ currentPlay.track.artist.name }}</td>
         <td>
                <div id="{{ currentPlay.track.id }}">
                  {% if currentPlay.related_to_current_track %}
                    Transition saved!
                  {% else %}
                    <a href="#" trackSourceId="{{ currentPlay.track.id }}" trackDestinationId="{{ currentTrack.id }}"
                    id="add-row" class="btn btn-default saveTransitionAjax"
                    onclick="return false;"
                    rel="no-refresh"><i class="glyphicon glyphicon-plus icon-success"></i> Save Transition </a>
                  {% endif %}
                </div>              
                  
            </td>

         
      </tr>
      {% endfor %}
    </table>
  </div>

  <hr>

  <div class="blue_subtitle_small">Transitions - What to play along this track?</div>
  <a href="{% url 'admin:track_customtracktransition_change' currentTrack.id %}" target="_blank">
                <b><i class="fa fa-edit"></i> Edit Transitions Info</b>
          </a>  


  <div id="transitionsAllTableDiv">
    <table id="transitionsAllTable" class="table table-striped table-condensed">
            <tr>                    
             <th>Title</th>
             <th>Artist</th>
             <th>Genre/BPM</th>
             <th>Type</th>
             <th>Comment</th>
             <th>Actions</th>
            </tr>

            {% for currentTransition in transitionsBefore %}
            <tr>                    
             <td><a href="{% url 'admin:track_track_change' currentTransition.track_source.id %}">{{ currentTransition.track_source.title }}</a></td>
             <td>{{ currentTransition.track_source.artist.name }}</td>
             <td>{{ currentTransition.track_source.genre.name }}<br>
                  {{ currentTransition.track_source.bpm|floatformat}}
              </td> 
            <td><i class="fa fa-fast-backward"></i></td>
             <td>
              
              <input type="text" class="commentTransitionInput" size="50"
              value="{{ currentTransition.comment }}" transitionId="{{currentTransition.id}}"><br><br>
             </td>
             <td>
           
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                <a href="{% url 'admin:track_customtracktransition_change' currentTrack.id %}" target="_blank">
                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
              </a>  
              <li class="list-inline-item">
                <a class="remove-btn btn-small" href="#" onclick="return false;">
                  <button class="btn btn-danger btn-sm rounded-0 deleteTransition" 
                  type="button" title="Delete" transitionId="{{currentTransition.id}}"><i class="fa fa-trash"></i></button>
                </a>
              </li>
          </ul>
         </td>
            </tr>
            {% endfor %}


        {% for currentTransition in transitionsAfter %}
            <tr>                    
              <td><a href="{% url 'admin:track_track_change' currentTransition.track_source.id %}">
                  {{ currentTransition.track_destination.title|slice:":20" }}
              </a></td>
             <td>{{ currentTransition.track_destination.artist.name }}</td>
             <td>{{ currentTransition.track_destination.genre.name }}<br>
                  {{ currentTransition.track_destination.bpm|floatformat}}
              </td> 
            <td><i class="fa fa-forward"></i></td>
             <td>
              
              <input type="text" class="commentTransitionInput" size="50"
              value="{{ currentTransition.comment }}" transitionId="{{currentTransition.id}}"><br><br>
             </td>
             <td>
           
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
              </li>

              <li class="list-inline-item">
                <a class="remove-btn btn-small" href="#" onclick="return false;">
                  <button class="btn btn-danger btn-sm rounded-0 deleteTransition" 
                  type="button" title="Delete" transitionId="{{currentTransition.id}}"><i class="fa fa-trash"></i></button>
                </a>
              </li>
          </ul>
         </td>
            </tr>
            {% endfor %}

          </table>
    </div>



        <div class="blue_subtitle_small">Suggestions from our algorithm</div>
        <div id="tableSuggestionAuto">
          <table id="suggestionsAuto" class="table table-striped table-condensed">
                
          <tr>                    
           <th>Title</td>
           <th>Artist</td>
           <th>Genre</td>
           <th>Bpm</td>
           <th>Key</td>
            <th>Comment</td>
           <th>Suggestion Rating?</th>
           
          </tr>

          
         {% for currentTrackSuggestion in listTrackSuggestions %}
           <tr>                    
           <td>{{ currentTrackSuggestion.title }}</td>
           <td>{{ currentTrackSuggestion.artist.name }}</td>
           <td>{{ currentTrackSuggestion.genre }}</td>
           <td>{{ currentTrackSuggestion.bpm |floatformat}}</td>
           <td>{{ currentTrackSuggestion.musical_key }}</td>
           <td>{{ currentTrackSuggestion.comment }}</td>
           <td><i class="fa fa-thumbs-o-up  good_transition""></i> &nbsp;
            <i class="fa fa-thumbs-o-down bad_transition"></i>
           </td>
           
          </tr>
          {% endfor %}
        </table>
      </div>




<script>
    var append_increment = 0;
    setInterval(function() {

        $.ajax({
          url: '../get_more_playlist_history_table',
          success: function(data) {
            $('#tablePlaylistHistory').html(data); 
          }
        });
        //works too
        $.ajax({
          url: '../get_more_currently_playing_title_block',
          success: function(data) {
            $('#currentlyPlayingTitleBlock').html(data); 
          }
        });
        $.ajax({
          url: '../get_more_currently_playing_track_block',
          success: function(data) {
            $('#currentlyPlayingTrackBlock').html(data);
             //$('#currentlyPlayingTrackBlock_second').html(data);             
          }
        });
        
        $.ajax({
          url: '../get_more_transition_block?currentTrackId='+$('#currentTrackId').val(),
          success: function(data) {
            if(data !='<div></div>') {
              $('#transitionsAllTableDiv').html(data);        
            }
              
          },
        });
        $.ajax({
          url: '../get_more_suggestion_auto_block',
          success: function(data) {
            $('#tableSuggestionAuto').html(data);            
          }
        });

    }, 10000);

    //ajax call to save transition with no refresh
    $(document).on("click", ".saveTransitionAjax", function(){
      $.ajax({
          url: '../add_new_transition?trackSourceId='+$(this).attr('trackSourceId')+'&trackDestinationId='+$(this).attr('trackDestinationId'),
          success: function(data) {
            $('#transitionsAllTableDiv').html(data); 
            $('#'+$(this).attr('trackSourceId')).html('Transition saved!');
            //$('#2423').html('saved!');                     
          }
        });
      
    })

    //ajax call to DELETE transition with no refresh
    $(document).on("click", ".deleteTransition", function(){
      $.ajax({
          url: '../delete_transition?transitionDeleteId='+$(this).attr('transitionId'),
          success: function(data) {
            if(data) {
              $('#transitionsAllTableDiv').html(data);
            }
                                 
          }

        });
      
    })


    //inline comment edition
    $(".commentTransitionInput").change(function(){
      //alert( this.value );
      $.ajax({
          url: '../update_transition_comment?transitionUpdateId='+$(this).attr('transitionId')+'&newComment='+this.value,
        });
      
    })

   

</script>


{% else %}

<div class='now_playing_track' id='currentlyPlayingTrackBlock'>
  <div class="row">
    <div class="track_big_blue" > Please start playing a track </div>
    <div class="green_flashy">- Broadcasto your Mix to http://193.70.86.101/</div> 
    <div class="track_big_blue" >- Port 8059</div>
  </div>
</div>

<script>
  //setInterval(function() {
  //     location.reload();
  //  }, 10000);


  $(function () {
    $('[data-toggle="tooltip"]').tooltip();
});

</script>

{% endif %}



 {% endblock content %}

 