<table id="transitionsBeforeTable" class="table table-striped table-condensed">
            <tr>                    
             <th>Title</td>
             <th>Artist</td>
             <th>Genre</td>
             <th>Bpm</td>
             <th>Comment</td>
             <th>Type</td>
             <th>Quality</td>
             <th>Actions</td>
            </tr>

            {% for currentTransition in transitionsBefore %}
            <tr>                    
             <td><a href="{% url 'admin:track_track_change' currentTransition.track_source.id %}">{{ currentTransition.track_source.title }}</a></td>
             <td>{{ currentTransition.track_source.artist.name }}</td>
             <td>{{ currentTransition.track_source.genre.name }}</td>
             <td>{{ currentTransition.track_source.bpm|floatformat}}</td>   
             <td>{{ currentTransition.comment }}</td>
             <td>{{ currentTransition.transition_type.name }}</td>
             <td>{{ currentTransition.ranking }}</td>
             <td>
           
            <ul class="list-inline m-0">
               <li class="list-inline-item">
                  <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
              </li>

              <li class="list-inline-item">
                <a class="remove-btn btn-small" href="#" onclick="return false;">
                  <button class="btn btn-danger btn-sm rounded-0 deleteTransitionBefore" 
                  type="button" title="Delete" transitionId={{currentTransition.id}}><i class="fa fa-trash"></i></button>
                </a>
              </li>
          </ul>
         </td>
            </tr>
            {% endfor %}
          </table>